
.vs/OOPGroupProject/FileContentIndex/1830c467-eff3-4c2b-9738-e5641e3f48d2.vsidx
*.vsidx
*.vsidx
*.vsidx
*.vsidx
.vs/OOPGroupProject/v17/ipch/AutoPCH/e5f1262123e67e31/LIBRARIAN.ipch
*.ipch
*.vsidx
*.vsidx
*.vsidx
*.vsidx
*.db
*.db-shm
*.vsidx
.vs/OOPGroupProject/v17/Browse.VC.db-wal
*.opendb
*.db
.vs/OOPGroupProject/v17/Browse.VC.db
